// src/styles/_auth.scss

@import "globals";

.auth-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 1000px;
  margin: 1px auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 2rem auto;
  }
}

#auth-view {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $card-bg;
  border-radius: 0; // Hapus border-radius dari card karena sudah di container
  box-shadow: none; // Hapus shadow karena sudah di container

  @media (max-width: 768px) {
    padding: 2rem;
  }
}

.auth-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($primary-color, 40%);

  @media (max-width: 768px) {
    display: none; // Sembunyikan gambar di layar kecil
  }
}

.auth-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tabs {
  display: flex;
  margin-bottom: $spacing-unit * 2;
  .tab {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: lighten($text-color, 30%);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;

    &.active {
      font-weight: bold;
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.form {
  display: none;
  flex-direction: column;

  &.visible {
    display: flex;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-unit * 1.5;

    input {
      padding: 0.75rem;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      margin-top: 0.5rem;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: $primary-color;
      }
    }
  }
  .btn--primary {
    margin-top: $spacing-unit;
  }
}